<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Painel de Módulos</title>
</head>
<body>
	<h2>Selecione o Módulo</h2>
	
	<form>
		<fieldset>
			<legend>Planejamento Reformas</legend>
			<label>Planeje sua reforma, casa, apartamento, registre os valores e acompanhe seus gastos</label>
		</fieldset>
	</form>

	<form>
		<fieldset>
			<legend>Planejamento Reformas</legend>
			<label>Planeje sua reforma, casa, apartamento, registre os valores e acompanhe seus gastos</label>
		</fieldset>
	</form>
	
	<form>
		<fieldset>
			<legend>Planejamento Reformas</legend>
			<label>Planeje sua reforma, casa, apartamento, registre os valores e acompanhe seus gastos</label>
		</fieldset>
	</form>
	
	<form>
		<fieldset>
			<legend>Planejamento Reformas</legend>
			<label>Planeje sua reforma, casa, apartamento, registre os valores e acompanhe seus gastos</label>
		</fieldset>
	</form>



    <div>
		<a th:href="@{/index}">Cancelar</a>
		<a th:href="@{/index}">Entrar</a>
	</div>
	
	<div>
		<a th:href="@{/index}">Cadastre-se</a>
	</div>
</body>
</html>